reports.summary.ids = yes
reports.summary.annotations = yes

# Do not include only the exclusion interval, actually scale to the relevant hours
reports.day.hours = auto
# Not as useful for the whole week but still cool
reports.week.hours = auto

tags.dev.description = Actual Development work
tags.bugfix.description = Fixing Bugs
tags.meeting.description = Le Meetings
tags.PR.description = Doing PR reviews
tags.review_reply.description = Replying to reviews of my PRs
tags.testing.description = Testing a developed solution
tags.docs.description = Writing docs like RFCs
tags.review_docs.description = Reviewing written docs like RFCs
tags.review_docs_reply.description = Replying to reviews of my docs like RFCs
tags.orga.description = Self-Organization
tags.food.description = Noms

define exclusions:
  monday    = <8:00 >20:00
  tuesday   = <8:00 >20:00
  wednesday = <8:00 >20:00
  thursday  = <8:00 >20:00 
  friday    = <8:00 >20:00
  # maybe track weekend as well optionally? Irrelevant for now probably tho
  saturday  = >0:00
  sunday    = >0:00
